@charset "UTF-8";
*{
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

body {
  background-image:linear-gradient(to right, #D8B08C,#FFCB9A)
}
main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #a77e59c2;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1{
  color: #019597;
  text-align: center;
  text-shadow: 1px 1px 2px #006e70ec;
}

h2{
  color: #0F6466;
}

p {
  text-align: justify;
}
