@charset "UTF-8";
body{
  background-color: rgb(114, 255, 208);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: rgb(0, 58, 38);
}
h1#principal{
  text-align: center;
  background-color: black;
  color: azure;
}

h1#secundario{
  text-align: center;
}

h2{
  color: rgb(0, 24, 15) ;
}

p{
  text-align: justify;
}

.basico{
color: brown;
}

.intermediario{
color: chocolate;
}

.avancado{
color: deeppink;
}

.titulo{
  text-align: center;
  font-weight: bolder;
}
